
body {
	background-color: blue;
}

@import url('https://fonts.googleapis.com/css?family=Chewy');

l

h1, p {
	font-family: 'Chewy', cursive;
	font-size: 28px;
	line-height: 1.5em;
	margin: : 2em;
	color: black;
}

h2, ul {
	font-size: 20px;
}